.container {
    max-width: 100%;
}

#pwd {
    width: 50%;
    margin-left: 2rem;
}

#username {
    width: 50%;
    margin-left: 2rem;
}

.jumbotron {
    width: 120%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

button {
    margin-left: 4rem;
    width: 10rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

img {
    width: 200px;
    margin-left: 12rem;
    margin-bottom: 2rem;
}

h2 {
    color: rgb(255, 166, 0);
    font-weight: bolder;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

